body {
	background-color: rgb(106, 143, 214);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.activeCell {
	width: 50px;
	height: 50px;
	background-color: #54f4f4;
	border: 1px solid red;
	position: fixed;
	text-align: center;
	line-height: 50px;
	}

.notActiveCell {
	width: 50px;
	height: 50px;
	background-color: rgb(59, 80, 119);
	border: 1px solid red;
	position: fixed;
	text-align: center;
	line-height: 50px;
}

#info {
	text-align: center;
	font-family: sans-serif;
	font-size: 14pt;
}

.buttonClass {
	font-weight: 700;
	color: white;
	height: 50px;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 5px;
	background: rgb(64,199,129);
	border-style: none;
	position: relative;
}

.buttonClass:active {
	top: 3px;
}

.buttonClass:hover {
	border: 2px solid #FF7404;
}

#waitscreen {
	background-color: rgba(202, 200, 200, 0.8);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	 visibility: hidden; 
	display: flex;
	align-items: center;
	justify-content: center;
	columns: 15em 1;
}

#waitContainer {
	top: 60vh;
	/* border: 1px solid red; */
	height: 20em; 
	text-align: center;
}